body {
  background-image: url("/images/backgroundimage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
